.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    height: 300px;
    border: 2px solid red;
    text-align: center;
    margin: 2px;
}

span{
    width: 20px;
    background-color: antiquewhite;
    font-size:x-large;
}